<!-- Page Heading -->
<!-- <script src="../public/js/build/admin/category.js"></script> -->
<script src="../public/js/build/admin/editCategory.js"></script>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h4 class="h3 mb-0 text-gray-800">انتخاب دسته بندی محصولات </h4>
</div>


<!--cotent Row info-->
<div class="row justify-content-center align-item-center my-md-1 ">
    <div class="col-md-8 signFormRow  m-5 " dir="rtl">
        <img src="../public/images/Tara.png" class="my-md-1">
        <h3>ویرایش دسته بندی فعالیت </h3>
       
        <div class="row w-100  border mt-2">
            <div class="col-12 justify-content-start mt-md-2">
                <div class="text-danger" id="success-msg"></div>
                <ul id="tree1" class="text-right mt-md-3">
                </ul>
                <a href="#/category" id="showBtn" class="btn btn-outline-success float-left m-2" >نمایش دسته بندی</a>
                <button id="btn" class="btn btn-outline-warning float-left m-2">تایید دسته بندی </button>

            </div>
        </div>


    </div>
</div>

<!-- /.container-fluid -->
