    <!-- Page Heading -->
    <script src="../public/js/jqpagination.js"></script>
    <script src="../src/js/admin/productMatchEdit.js"></script>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h4 class="h3 mb-0 text-gray-800">ادغام محصول</h4>
    </div>


    <!--cotent Row info-->
    <img src="../public/images/Tara.png" class="my-md-1">
    <div class="row justify-content-center align-item-center my-md-1 ">
        <div class="col-md-12 signFormRow ">
            <div class="row w-100">
                <div class="col-md-4 border-secondary" id="matchPart"> 
                    <div class="card text-right productSelect" >
                        <img class="card-img-top" id="productImage" src="" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title" id="productTitle"></h5>
                          <p class="card-text" id="productDes">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <p class="card-text" id="productCat">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <button class="btn btn-primary" id="matchProduct">درخواست ادغام</Button>
                        </div>
                      </div>
                </div>
                <div class="col-md-8 ">
                   <div class="row border-secondary cardtemp" id="data-container" >
                    <!-- <div  class="w-100"></div> -->
                    
                    
                       <!-- <div class="col-4">
                        <div class="card cardtemp" >
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card</p>
                            </div>
                          </div>
                       </div> -->
                   
                   
                </div>
                <div id="pagination" class="w-100 mt-4"></div>
            </div>
            








        </div>
    </div>

<!-- /.container-fluid -->