<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-1">
    <h4 class="h3 mb-0 text-gray-800">محصولات کرال</h4>
</div>

<script src="../public/js/jqpagination.js"></script>
<!-- <script src="../public/js/build/admin/productMatch.js"></script> -->
<script src="../src/js/admin/productMatch.js"></script>
<!--cotent Row info-->
<div class="row  justify-content-center align-item-center ">
    <div class="col-md-10 signFormRow text-center ">
        <img src="../public/images/Tara.png">
        <h3>محصولات شما </h3>
        <div id="data-container" class="w-100"></div>
    </div>
    <div class="col-md-10">
        <ul id="pagination" class="d-flex justify-content-center" dir="rtl">
            <li class="page-item">
                <button class="page-link "  id="previousPage">
                    <span aria-hidden="true">&#10096;</span>
                    <span class="sr-only">Previous</span>
                </button>
            </li>
            <ul  id="pageBtn" class="d-flex justify-content-center">
                
                    <!-- <li class="page-item"><button class="page-link page-btn  page-link-active" data-page="1" >1</button></li>
                    <li class="page-item"><button class="page-link page-btn"  data-page="2" >2</button></li>
                    <li class="page-item"><button class="page-link page-btn"  data-page="3" >3</button></li> -->
            
            </ul>
            
            <li class="page-item" >
                <button class="page-link page-link-2" id="nextPage">
                    <span aria-hidden="true">&#10097;</span>
                    <span class="sr-only">Next</span>
                </button>
            </li>

        </ul>
    </div>


</div>
</div>