<!-- Page Heading -->
<script src="../public/js/build/admin/category.js"></script>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h4 class="h3 mb-0 text-gray-800">انتخاب دسته بندی محصولات </h4>
</div>


<!--cotent Row info-->
<div class="row justify-content-center align-item-center my-md-1 ">
    <div class="col-md-8 signFormRow  mt-3 " dir="rtl">
        <img src="../public/images/Tara.png" class="my-md-1">
        <h3>دسته بندی </h3>
        <button id="btn" class="btn btn-warning">check</button>
        <div class="row w-100 ">
            <div class="col-12 justify-content-start">
                <ul id="tree1" class="text-right mt-3">
                </ul>
            </div>
        </div>


    </div>
</div>

<!-- /.container-fluid -->
