.kia{
    border-radius: 5px;
    transition: all;
    box-sizing: border-box;
    background-image: linear-gradient(#FCFCFC, #fff);
    display: flex;
    justify-content: center;
    flex-direction: column;
}